<%= form_with(model: photo, local: true) do |form| %>
  <% if photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
        <% photo.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption,  :maxlength => 100, :size => 70, :required=>true %>
  </div>
  <% unless params[:action] == 'edit'%>
    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image, required: true %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit 'Save as Draft' %>
  </div>
  <div class="actions">
    <%= form.submit 'Publish' %>
  </div>
<% end %>